

html{

    box-sizing: border-box;

}

body{

    margin: 0;
    min-height: 100vh;
    background: #ede0d4;
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;    
}


.MagicBall-container{
    /* border: black dotted; */
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255,0.4);
    box-shadow: 0 10px 10px 10px rgba(0,0,0, 0.2);
}

button{
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover{
    filter: brightness(110%);
}

button:active{
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255,0.65);

}