

html{

    box-sizing: border-box;

}




body{

    /* border: solid black; */
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    color: #435560;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;    
}


.container{
    /* border: black dotted; */
    width: auto;
    max-width: 1200px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255,0.4);
    box-shadow: 0 10px 10px 10px rgba(0,0,0, 0.2);
}



/* Media Query */
@media screen and (max-width: 1000px){
    .quote-container{
        margin: auto 10px;
    }
    .quote-text{
        font-size: 2.5rem;
    }
}
