

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{

    box-sizing: border-box;

}

body{

    /* border: solid black; */
    margin: 0;
    min-height: 100vh;
   
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;    
}

.container{
    /* border: black dotted; */
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255,0.4); */
    /* box-shadow: 0 10px 10px 10px rgba(0,0,0, 0.2); */
}


#banner{
    
    text-transform: uppercase;
    color: #457b9d;
    font-size: 5rem;
    margin: 0 auto;
}
#clock{
    font-size: 8rem;
    background-color: #ffffff;
    /* font-size: ; */
    color: #708d81;
    height: 400px;
    width: 80%;
    margin: 0 auto;
    font-weight: 500;
}




/* Media Query */
@media screen and (max-width: 1000px){
    .container{
        margin: auto 10px;
    }
    .quote-text{
        font-size: 2.5rem
    }
}