@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#caixaPrincipal
{
width: auto;
margin:5px;
} 

.blocoSuperior 
{
margin:3px 0;
} 


.blocoSuperior div,#blocoSuperior span
{
display:inline-block; 
position:relative;
}

.blocoPadrao
{
text-align:center;
}

.blocoPadrao label
{
display:inline-block;
width: 130px;
padding:5px;
text-align:center;
font-size:12.5px;
}


#tagPararAlarme
{
padding:5px 10px;
font-family:"arial"; 
color:#fff;
text-shadow: 1px 1px #000;
background:rgba(2,2,2,.5);
}



fieldset
{
display:inline-block;
margin:5px 5px;
padding:10px;
width: auto;
}

/* fieldset legend
{
font-style: italic;
font-size: 12px;
color:#8d8d8d;
font-family:"Impact";

} */


.styleImputTmp
{
width: auto;
height: auto; 
}
